/* Style for navigation */
nav {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 5px;
}

button.selected {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
  color: white;
}

/* Style for posts */
.post {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;
  max-width: 600px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.post h3 {
  margin-top: 0;
}

.post p {
  margin-bottom: 10px;
}

/* Style for comments */
.comment-section {
  margin-top: 20px;
}

.comment-section h4 {
  margin-bottom: 10px;
}

.comment-section ul {
  list-style: none;
  padding: 0;
}

.comment-section li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-section form {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.comment-section input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.comment-section button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.comment-section button:hover {
  background-color: #0056b3;
}

.login-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.register-button {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #31fec4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #0a8a01;
}

.show-form-button {
  color: rgb(0, 78, 146);
  border: 1px solid #00c3ff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.welcome-message {
  margin: 20px;
  text-align: center;
}