.comment-section {
    margin-top: 20px;
  }
  
  .comment-section h4 {
    margin-bottom: 10px;
  }
  
  .comment-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .comment-section li {
    background-color: #cc7878;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}
  
  .comment-section li strong {
    margin-right: 5px;
  }
  
  .comment-section pre {
    white-space: pre-wrap; /* Preserve newlines and wrap long lines */
  }
  
  .comment-section form {
    display: flex;
    flex-direction: column;
  }
  
  .comment-section textarea {
    width: 100%;
    padding: 10px 10px 100px 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #56a8ff;
    box-sizing: border-box;
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing */
  }
    
  .comment-section button {
    padding: 10px 20px;
    border: none;
    background-color: #56a8ff;
    color: white;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .comment-section button:hover {
    background-color: #0056b3;
  }
  
  .comment-section button[type="button"] {
    background-color: #28a745;
  }
  
  .comment-section button[type="button"]:hover {
    background-color: #218838;
  }
  
  .comment-section button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .icon-timer {
    margin-right: 5px;
    color: rgb(255, 102, 0);
  }

  .icon-paper-plane {
    margin-right: 5px;
    color:#28a745;
  }

  .comment-section li.comment-inox {
    border: 1px solid #606060;
  }
  
  .comment-section li.comment-bronze {
    border: 2px solid #cd7f32;
  }
  
  .comment-section li.comment-gold {
    border: 2px solid #ffd700;
  }
  
  .comment-section li.comment-emerald {
    border: 3px solid #50c878;
  }
  
  .comment-section li.comment-ruby {
    border: 3px solid #e0115f;
  }
  
  .comment-section li.comment-diamond {
    border: 4px solid #18b4d7;
  }
  